.product_item{
    display: flex;
    flex-direction: column;
    position: relative;
    // &:nth-last-child(-n+2){
    //     display: none;
    // }
    &:hover{
        button{
            display: block;
        }
    }
    .product_item_image{
        width: 100%;
        position: relative;
        img{
            width: 100%;
        }
    }
    a.add_to_favorite{
        z-index: 5;
        position: absolute;
        top: 10px;
        right: 10px;
        width: 25px;
        height: 25px;
        img.favorite{
            width: 100%;
            height: 100%;
        }
    }
    .product_item_category{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 15px;
        background-color: #fff;
        span{
            font-family: 'Helvetica Neue';
            font-weight: bold;
            font-size: 14px;
            text-align: center;
        }
    }
    .product_item_country, .product_item_seller, .product_item_title{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-family: 'Helvetica Neue';
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 16px;
        padding: 0;
        line-height: 1.2;
        color: #31373B;
    }
    .product_item_info{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        .product_item_price{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            line-height: 1.2;
            .new_price{
                color: $pink-color;
            }
            .old_price{
                color: #C1C8CE;
                text-decoration: line-through;
            }
        }
    }
    button{
        background-color: $pink-color;
        color: #fff;
        border: none;
        outline: none;
        text-align: center;
        border-radius: 8px;
        margin: 0;
        display: none;
    }
}

.stars{
    display: flex;
    justify-content: center;
    align-items: center;
}


// BUTTONS
.btn-pink{
    background-color: $pink-color;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 8px;
    border: none;
    outline: none!important;
}

.btn-pink-rounded{
    background-color: $pink-color;
    color: #fff;
    text-align: center;
    border-radius: 25px;
    padding: 8px 20px;
    border: 1px solid $pink-color;
    outline: none!important;
}

.btn-pink-rounded-outline{
    background-color: #fff;
    color: $pink-color;
    text-align: center;
    border-radius: 25px;
    padding: 8px 20px;
    border: 1px solid $pink-color;
    outline: none!important;
}


// FONT STYLE
    .headline{
        font-family: 'Helvetica Neue Bold';
        font-size: 1.1rem;
        color: #000;
    }

    .page_title{
        font-size: 1.6rem;
        color: #637079;
        font-family: 'Helvetica Neue Bold';
    }

    .xs-title{
        color: #31373B;
        font-size: 14px;
        font-family: 'Helvetica Neue Bold';
    }

    .sm-title{
        font-size: 16px;
        font-family: 'Helvetica Neue Bold';
        margin: 0;
        color: #31373B;
    }
    .md-title{
        font-size: 18px;
        font-family: 'Helvetica Neue Bold';
        color: #5D656B;
    }
    .text{
        font-size: 16px;
        font-family: 'Helvetica';
        margin: 0;
        color: #31373B;
    }
    .sm-text{
        font-size: 14px;
        font-family: 'Helvetica';
        margin: 0;
        color: #31373B;
    }

// APPEARANCE
    .d-none{
        display: none;
    }

// TEXT COLOR
    .text-skyblue{
        color: $skyblue-color;
    }
    .text-pink{
        color: $pink-color;
    }


// SIZES
    .w-100{
        width: 100%;
    }

// alignment
    .text-center{
        text-align: center;
    }