footer{
    .subscribe{
        background-color: #fff;
        .subscribe_inner{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            width: 100%;
            gap: 10px;
            .subscribe_info{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                .subscribe_info_text{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    flex-wrap: wrap;
                    h5{
                        font-weight: bold;
                        // font-size: 18px;
                        font-family: 'Neue Medium';
                    }
                }
                .subscribe_info_form{
                    width: 100%;
                    display: grid;
                    grid-template-columns: 2fr 1fr;
                    gap: 10px;
                    width: 100%;
                    input{
                        outline: none;
                        border: none;
                        padding: 5px;
                        border-radius: 25px;
                        background-color: $grey-bg;
                        &::placeholder{
                            font-family: 'Helvatica Neue Medium';
                        }
                    }
                    button{
                        background-color: $pink-color;
                        border-radius: 25px;
                        outline: none;
                        border: none;
                        padding: 5px;
                        color: #fff;
                        font-weight: bold;
                    }
                }
            }
            .subscribe_banner{
                padding: 15px;
                img{
                    width: 100%;
                }
            }
        }
    }

    .popular{
        background-color: #f7f7f7;
        padding: 50px 0;
        .popular_title{
            font-size: 18px;
            font-weight: bold;
            font-family: 'Neue Medium';
        }
        .popular_inner{
            margin-top: 20px;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            justify-content: space-around;
            column-gap: 10px;
            ul{
                padding-left: 0;
                li{
                    list-style-type: none;
                    a{
                        text-decoration: none;
                        color: #000;
                        font-size: 16px;
                        font-family: 'Helvetica Neue';
                    }
                }
            }
        }
    }
    .helpdesk{
        padding: 50px;
        background-color: $grey-bg;
        .helpdesk_inner{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            .helpdesk_contact{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                flex-wrap: wrap;
                span{
                    font-family: 'Poppins';
                    font-weight: bold;
                    font-size: 16px;
                }
                ul{
                    padding-left: 0;
                    list-style: none;
                    margin: 0;
                    li{
                        font-family: 'Helvetica Neue';
                        font-size: 16px;
                    }
                }
                .helpdesk_contact_img_wrap{
                    img{
                        width: 100%;
                        margin: 5px;
                    }
                }
            }
            .helpdesk_col_wrap{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                h2{
                    font-weight: normal;
                    font-family: 'Helvetica Neue';
                    text-align: center;
                    text-decoration: underline;
                    color: #31373B;
                }
                ul{
                    display: flex;
                    padding-left: 0;
                    justify-content: space-around;
                    align-items: flex-start;
                    flex-direction: column;
                    text-decoration: none;
                    list-style-type: none;
                    li{
                        a{
                            color: #31373B;
                            font-family: 'Helvetica Neue';
                        }
                    }
                }
            }  
        }
    }
    .copyright{
        text-align: center;
        padding: 40px;
        font-family: 'Helvetica Neue';
    }
}