// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
// @import 'container';

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@font-face {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 900;
    src: url('/public/fonts/HelveticaNeue.ttc');
}

@font-face {
    font-family: 'Neue Medium';
    font-style:normal;
    font-weight: normal;
    src: url('/public/fonts/Helvetica.ttc');
}

@font-face {
    font-family: 'Helvetica Neue Bold';
    font-style:normal;
    font-weight: normal;
    src: url('/public/fonts/HelveticaNeue/HelveticaNeueCyr-Bold.ttf');
}

@font-face {
    font-family: 'Helvetica Neue Medium';
    font-style:normal;
    font-weight: normal;
    src: url('/public/fonts/HelveticaNeue/HelveticaNeueCyr-Medium.ttf');
}

@font-face {
    font-family: 'Helvetica';
    font-style:normal;
    font-weight: normal;
    src: url('/public/fonts/Helvetica/Helvetica.ttf');
}

*:focus, *:active{
    border: none;
    outline: none;
}

// *::placeholder{
//     font-family: 'helvetica-neue';
// }

body{
    font-family: 'Helvetica Neue';
    font-size: 16px;
    font-weight: normal;
}


header{
    .top-header{
        .top_header_nav{
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            .about{
                width: 55%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 15px 0;
                margin: 0;
                li{
                    list-style: none;
                    a{
                        color: #31373B;
                        font-family: 'Helvetica Neue Medium';
                        font-size: 16px;
                        font-weight: normal;
                    }
                }
            }
            .account{
                width: 45%;
                display: flex;
                flex-direction: row;
                list-style: none;
                justify-content: flex-end;
                align-items: center;
                margin: 0;
                padding: 15px 0;
                li{
                    margin: 0 25px;
                    a{
                        font-family: 'Helvetica Neue Medium';
                        color: $pink-color;
                        font-size: 16px;
                        font-weight: normal;
                    }
                    &:last-child{
                        margin: 0;
                    }
                }
            }
        }
    }
    .bottom-header{
        // background: rgb(159,52,131);
        background: linear-gradient(360deg, rgba(210,27,90,1) 0%, rgba(220,34,85,1) 51%, rgba(236,45,77,1) 100%);
        margin-top: 20px;
        .removeBasket{
            display: grid;
            grid-template-columns: 2fr 5fr!important;
        }
        .bottom_header_nav{
            display: grid;
            grid-template-columns: 2fr 3fr 2fr;
            gap: 30px;
            align-content: center;
            padding: 15px 0;
            .logo{
                color: #fff;
                text-transform: uppercase;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                text-decoration: none;
                font-family: 'Poppins';
                .logo_title{
                    font-size: 1.7rem;
                    font-weight: bold;
                    margin-left: 20px;
                }
            }
            .search{
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                input{
                    width: 100%;
                    border-radius: 25px;
                    border: none;
                    padding: 10px;
                }
                img{
                    position: absolute;
                    right: 5%;
                }
            }
            .items{
                color: #fff;
                display: grid;
                grid-template-columns: 1fr 1fr 4fr;
                align-content: center;
                .wishlist, .basket{
                    position: relative;
                    width: 30px;
                    height: 30px;
                    align-self: center;
                    justify-self: end;
                    .circle-badge{
                        position: absolute;
                        bottom: 70%;
                        right: 70%;
                        height: 25px;
                        width: 25px;
                        background-color: #fff335;
                        border-radius: 50%;
                        display: inline-block;
                        color: #000;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    img{
                        width: 100%;
                    }
                }
                .basket_description{
                    font-family: 'Helvetica Neue';
                    display: flex;
                    flex-direction: column;
                    font-size: 16px;
                    // font-weight: bold;
                    align-items: flex-start;
                    justify-content: center;
                    margin-left: 30px;
                }
                .hamburger{
                    display: none;
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
}

.menu{
    margin-top: 10px;
    .dropdown_nav {
        padding: 10px 0;
        position: relative;
        a{
            color: $pink-color;
            text-decoration: none;
            span{
                margin: 0 5px;
            }
        }
        .megamenu{
            width: 100%;
            position: absolute;
            background-color: $grey-bg;
            z-index: 10;
            top: 100%;
            left: 0;
            display: block;
            float: left;
            .megamenu_categories{
                padding-left: 0;
                list-style-type: none;
                width: 30%;
                background-color: $main-bg;
                color: #31373B;
                .megamenu_category{
                    padding: 10px 20px;
                    display: flex;
                    justify-content: space-between;
                    font-family: 'Helvetica Neue Bold';
                    font-size: 16px;
                    font-weight: bold;
                    .megamenu_submenu{
                        ul{
                            position: absolute;
                            display: grid;
                            grid-template-columns: repeat(3, 1fr);
                            list-style-type: none;
                            width: 70%;
                            right: 0;
                            grid-template-rows: repeat(3, 1fr);
                            height: 100%;
                            li{
                                font-family: 'Helvetica Neue Bold';
                                font-size: 16px;
                                font-weight: bold;
                                color: $pink-color;
                                position: relative;
                                ul{
                                    position: absolute;
                                    list-style-type: none;
                                    padding-left: 0;
                                    left: 0;
                                    display: flex;
                                    flex-direction: column;
                                    li{
                                        a{
                                            color: #31373B;
                                            text-decoration: none;
                                            font-size: 14px;
                                            font-weight: lighter;
                                            font-family: 'Helvetica Neue Medium';
                                        }

                                        &:last-child{
                                            a{
                                                color: #007DD1;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.slider{
    padding: 30px 0;
}

.products_body_wrapper{
    button{
        margin: 30px 0;
    }
}

.products_body{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    .product_item{
        display: flex;
        flex-direction: column;
        &:nth-last-child(-n+2){
            display: none;
        }
        &:hover{
            button{
                display: block;
            }
        }
        .product_item_image{
            width: 100%;
            position: relative;
            img{
                width: 100%;
            }
            img.favorite{
                z-index: 5;
                position: absolute;
                bottom: 5%;
                right: 5%;
                width: 20px;
                height: 20px;
            }
        }
        .product_item_category{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;
            padding: 15px;
            background-color: #fff;
            span{
                font-family: 'Helvetica Neue';
                font-weight: bold;
                font-size: 14px;
                text-align: center;
            }
        }
        .product_item_country, .product_item_seller, .product_item_title{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            font-family: 'Helvetica Neue';
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 16px;
            padding: 0;
            line-height: 1.2;
            color: #31373B;
        }
        .product_item_info{
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: row;
            .product_item_price{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                line-height: 1.2;
                .new_price{
                    color: $pink-color;
                }
                .old_price{
                    color: #C1C8CE;
                    text-decoration: line-through;
                }
            }
        }
        button{
            background-color: $pink-color;
            color: #fff;
            border: none;
            outline: none;
            text-align: center;
            border-radius: 8px;
            margin: 0;
            display: none;
        }
    }
}

footer{
    .subscribe{
        background-color: #fff;
        .subscribe_inner{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            width: 100%;
            gap: 10px;
            .subscribe_info{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                .subscribe_info_text{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    flex-wrap: wrap;
                    h5{
                        font-weight: bold;
                        // font-size: 18px;
                        font-family: 'Neue Medium';
                    }
                }
                .subscribe_info_form{
                    width: 100%;
                    display: grid;
                    grid-template-columns: 2fr 1fr;
                    gap: 10px;
                    width: 100%;
                    input{
                        outline: none;
                        border: none;
                        padding: 5px;
                        border-radius: 25px;
                        background-color: $grey-bg;
                        &::placeholder{
                            font-family: 'Neue Medium';
                        }
                    }
                    button{
                        background-color: $pink-color;
                        border-radius: 25px;
                        outline: none;
                        border: none;
                        padding: 5px;
                        color: #fff;
                        font-weight: bold;
                    }
                }
            }
            .subscribe_banner{
                padding: 15px;
                img{
                    width: 100%;
                }
            }
        }
    }

    .popular{
        background-color: #f7f7f7;
        padding: 50px 0;
        .popular_title{
            font-size: 18px;
            font-weight: bold;
            font-family: 'Neue Medium';
        }
        .popular_inner{
            margin-top: 20px;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            justify-content: space-around;
            column-gap: 10px;
            ul{
                padding-left: 0;
                li{
                    list-style-type: none;
                    a{
                        text-decoration: none;
                        color: #000;
                        font-size: 16px;
                        font-family: 'Helvetica Neue';
                    }
                }
            }
        }
    }
    .helpdesk{
        padding: 50px;
        background-color: $grey-bg;
        .helpdesk_inner{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            .helpdesk_contact{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                flex-wrap: wrap;
                span{
                    font-family: 'Poppins';
                    font-weight: bold;
                    font-size: 16px;
                }
                ul{
                    padding-left: 0;
                    list-style: none;
                    margin: 0;
                    li{
                        font-family: 'Helvetica Neue';
                        font-size: 16px;
                    }
                }
                .helpdesk_contact_img_wrap{
                    img{
                        width: 100%;
                        margin: 5px;
                    }
                }
            }
            .helpdesk_col_wrap{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                h2{
                    font-weight: normal;
                    font-family: 'Helvetica Neue';
                    text-align: center;
                    text-decoration: underline;
                    color: #31373B;
                }
                ul{
                    display: flex;
                    padding-left: 0;
                    justify-content: space-around;
                    align-items: flex-start;
                    flex-direction: column;
                    text-decoration: none;
                    list-style-type: none;
                    li{
                        a{
                            color: #31373B;
                            font-family: 'Helvetica Neue';
                        }
                    }
                }
            }  
        }
    }
    .copyright{
        text-align: center;
        padding: 40px;
        font-family: 'Helvetica Neue';
    }
}

// COMPONENTS
.grey-bg{
    background-color: $grey-bg;
}
 
.main-bg{
    background-color: $main-bg;
}

.pink_btn_lg{
    background-color: $pink-color;
    color: #fff;
    width: 100%;
    text-align: center;
    border-radius: 25px;
    padding: 10px;
    border: none;
    outline: none!important;
}

.title_default{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    color: #31373B;
    padding: 18px 0;
    .title_default_main{
        display: flex;
        justify-content: flex-start;
        span{
            margin-left: 10px;
        }
    }
    .title_default_link{
        display: none;
        flex-direction: row;
        a{
            color: #31373B;
            text-decoration: none;
            font-size: 16px;
            margin-right: 10px;
        }
        img{
            width: 12px;
        }
    }
}

.stars{
    display: flex;
    justify-content: center;
    align-items: center;
}

.smb_modal{
    position: fixed;
    background: rgba(0,0,0,0.61);
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 20;
    .modal_container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100vw;
        height: 100vh;
        .auth{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-around;
            padding: 40px;
            background-color: #fff;
            z-index: 25;
            gap: 12px;
            position: relative;
            a.close_modal{
                position: absolute;
                top: 5%;
                right: 5%;
            }
            h4{
                color: #31373B;
                font-family: 'Helvetica';
                font-weight: bold;
                font-size: 25px;
            }
            small{
                font-family: 'helvetica Neue Medium';
            }
            input{
                width: 100%;
                border-radius: 5px;
                outline: none;
                border: 2px solid #707070;  
                padding: 5px;         
                &::placeholder{
                    color: #C1C8CE;
                    font-size: 14px;
                    font-family: 'Helvetica Neue Medium';
                    font-weight: lighter;
                }
            }
            .auth_buttons{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                width: 100%;
                button{
                    background-color: $pink-color;
                    border-radius: 5px;
                    outline: none;
                    border: none;
                    padding: 5px;
                    color: #fff;
                    font-weight: bold;
                    width: 48%;
                    &:last-child{
                        background-color: #EFEFEF;
                        color: #8D8D8D;
                    }
                }
            }
            span{
                font-family: 'Helvetica Neue Medium';
                font-size: 16px;
                color: #31373B;
            }
        }
        .register{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-around;
            padding: 40px;
            background-color: #fff;
            z-index: 25;
            gap: 12px;
            position: relative;
            min-width: 40vw;
            a.close_modal{
                position: absolute;
                top: 5%;
                right: 5%;
            }
            h4{
                color: #31373B;
                font-family: 'Helvetica';
                font-weight: bold;
                font-size: 25px;
            }
            .register_top_buttons, .register_bottom_buttons{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                width: 100%;
            }
            .register_top_buttons{
                button{
                    &:first-child{
                        background-color: $grey-bg;
                        border-radius: 5px;
                        outline: none;
                        border: none;
                        padding: 5px;
                        color: #8F989F;
                        font-weight: bold;
                        width: 48%;
                    }
                    &:last-child{
                        background-color: #8F989F;
                        border-radius: 5px;
                        outline: none;
                        border: none;
                        padding: 5px;
                        color: #fff;
                        font-weight: bold;
                        width: 48%;
                    }
                }
            }
            .register_bottom_buttons{
                button{
                    &:first-child{
                        background-color: $grey-bg;
                        border-radius: 5px;
                        outline: none;
                        border: none;
                        padding: 5px;
                        color: #8F989F;
                        font-weight: bold;
                        width: 48%;
                    }
                    &:last-child{
                        background-color: $pink-color;
                        border-radius: 5px;
                        outline: none;
                        border: none;
                        padding: 5px;
                        color: #fff;
                        font-weight: bold;
                        width: 48%;
                    }
                }
            }
            input{
                width: 100%;
                border-radius: 5px;
                outline: none;
                border: 2px solid #707070;  
                padding: 5px;         
                &::placeholder{
                    color: #C1C8CE;
                    font-size: 14px;
                    font-family: 'Helvetica Neue Medium';
                    font-weight: lighter;
                }
            }
        }
    }
}

@import 'animation';
@import 'media';