// Variables
@import 'variables';
@import 'media';


// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@font-face {
    font-family: 'Neue';
    font-style: normal;
    font-weight: 900;
    src: url('/public/fonts/HelveticaNeue.ttf');
}

@font-face {
    font-family: 'Neue-medium';
    font-style:normal;
    font-weight: normal;
    src: url('/public/fonts/HelveticaNeueMedium.ttf');
}

*:focus, *:active{
    border: none;
    outline: none;
}

// *::placeholder{
//     font-family: 'helvetica-neue';
// }

body{
    font-family: 'Neue';
    font-size: 16px;
    font-weight: normal;
}


header{
    .top-header{
        .top_header_nav{
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            .about{
                width: 50%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 15px 0;
                margin: 0;
                li{
                    list-style: none;
                    a{
                        color: #31373B;
                        font-family: 'Neue-medium';
                        font-size: 16px;
                        &:hover{
                            text-decoration: none;
                        }
                    }
                }
            }
            .account{
                width: 50%;
                display: flex;
                flex-direction: row;
                list-style: none;
                justify-content: flex-end;
                align-items: center;
                margin: 0;
                padding: 15px 0;
                li{
                    margin: 0 25px;
                    a{
                        font-family: 'Neue-medium';
                        color: $pink-color;
                    }
                    &:last-child{
                        margin: 0;
                    }
                }
            }
        }
    }
    .bottom-header{
        // background: rgb(159,52,131);
        background: linear-gradient(360deg, rgba(210,27,90,1) 0%, rgba(220,34,85,1) 51%, rgba(236,45,77,1) 100%);
        .bottom_header_nav{
            display: grid;
            grid-template-columns: 1fr 1fr 300px;
            align-content: center;
            .logo{
                color: #fff;
                text-transform: uppercase;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                padding: 15px;
                .logo-title{
                    font-size: 30px;
                    font-weight: bold;
                    a{
                        text-decoration: none;
                        color: #fff;
                    }
                }
            }
            .search{
                display: flex;
                justify-content: center;
                align-items: center;
                input{
                    width: 100%;
                    border-radius: 15px;
                    border: none;
                    padding: 6px;
                }
            }
            .items{
                color: #fff;
                display: grid;
                grid-template-columns: 1fr 1fr 4fr;
                align-content: center;
                .wishlist, .basket{
                    position: relative;
                    width: 31px;
                    align-self: center;
                    justify-self: end;
                    .circle-badge{
                        position: absolute;
                        bottom: 70%;
                        right: 70%;
                        height: 31px;
                        width: 31px;
                        background-color: #fff335;
                        border-radius: 50%;
                        display: inline-block;
                        color: #000;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    img{
                        width: 100%;
                    }
                }
                .basket_description{
                    display: flex;
                    flex-direction: column;
                    font-size: 12px;
                    font-weight: bold;
                    align-items: flex-start;
                    justify-content: center;
                    line-height: 15px;
                    margin-left: 30px;
                    letter-spacing: 2px;
                }
            }
        }
    }
}

.menu{
    .dropdown_nav {
        padding: 10px;
        a{
            color: $pink-color;
            text-decoration: none;
        }
    }
    .menu_nav{
        width: 80%;
        ul{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            list-style: none;
            padding: 10px;
            margin: 0;
            a{
                color: #000;
                text-decoration: none;

            }
        }
    }
}

.products_body{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    .product_item{
        display: flex;
        flex-direction: column;
        .product_item_image{
            width: 100%;
            img{
                width: 100%;
            }
        }
        .product_item_category{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;
            padding: 15px;
            background-color: #fff;
            span{
                font-weight: bold;
                font-size: 16px;
                text-align: center;
            }
        }
        .product_item_country, .product_item_seller, .product_item_title{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 16px;
            padding: 3px 10px;
        }
        .product_item_info{
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: row;
            .product_item_price{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

footer{
    .subscribe{
        background-color: #fff;
        .subscribe_inner{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            width: 100%;
            gap: 10px;
            .subscribe_info{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                .subscribe_info_text{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                }
                .subscribe_info_form{
                    width: 100%;
                    form{
                        display: grid;
                        grid-template-columns: 2fr 1fr;
                        gap: 10px;
                        width: 100%;
                        input{
                            outline: none;
                            border: none;
                            padding: 5px;
                            border-radius: 25px;
                            background-color: $grey-bg;
                            &::placeholder{
                                font-family: 'Poppins';
                            }
                        }
                        button{
                            background-color: $pink-color;
                            border-radius: 25px;
                            outline: none;
                            border: none;
                            padding: 5px;
                            color: #fff;
                        }
                    }
                }
            }
            .subscribe_banner{
                padding: 15px;
                svg{
                    width: 100%;
                }
            }
        }
    }

    .popular{
        background-color: #f7f7f7;
        .popular_inner{
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            justify-content: space-around;
            padding: 30px;
            li{
                list-style-type: none;
                a{
                    text-decoration: none;
                    color: #000;
                }
            }
        }
    }
    .helpdesk{
        background-color: $grey-bg;
        .helpdesk_inner{
            padding: 40px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            .helpdesk_contact{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                flex-wrap: wrap;
                .helpdesk_contact_img_wrap{
                    svg{
                        width: 100%;
                    }
                }
            }
            .helpdesk_col_wrap{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                h2{
                    font-weight: normal;
                    text-align: center;
                    text-decoration:underline
                }
                ul{
                    display: flex;
                    justify-content: space-around;
                    align-items: flex-start;
                    flex-direction: column;
                    text-decoration: none;
                    list-style-type: none;
                    li{
                        a{
                            color: #000;
                        }
                    }
                }
            }  
        }
    }
    .copyright{
        text-align: center;
        padding: 20px;
    }
}

// COMPONENTS
.grey-bg{
    background-color: $grey-bg;
}
 
.main-bg{
    background-color: $main-bg;
}

.pink_btn_lg{
    background-color: $pink-color;
    color: #fff;
    width: 100%;
    text-align: center;
    border-radius: 25px;
    padding: 10px;
    border: none;
    outline: none!important;
}

.title_default{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 25px;
}

.stars{
    display: flex;
    justify-content: center;
    align-items: center;
}

